@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Righteous', cursive, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 54%;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../assets/background-portrait.png);
}

main {
  h1 {
    margin: 5rem 0 3rem;
    font-size: 3.4rem;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 3px black;
  }

  #intro {
    display: flex;
    justify-content: center;

    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 70%;
      gap: 2rem;
      background-color: rgba($color: black, $alpha: 0.5);
      border-radius: 10px;
      -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
      -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
      box-shadow: 0 0 3px 1px #3d3d3d inset;
      padding: 2rem;

      p {
        font-size: 2rem;
        color: white;
        text-shadow: 2px 2px 3px black;
      }

      input {
        width: 100%;
        font-size: 1.6rem;
        line-height: 2.6rem;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
        -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
        box-shadow: 0 0 3px 1px #3d3d3d inset;
        line-height: 2.6rem;
        border: none;
        text-indent: 1rem;
      }

      button {
        padding: 0.4rem 1.2rem;
        width: max-content;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
        -moz-box-shadow: 0 0 5px 2px #3d3d3d inset;
        box-shadow: 0 0 5px 2px #3d3d3d inset;
        border: none;
      }
    }
  }

  #wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

    h2 {
      font-size: 1.8rem;
      line-height: 2.6rem;
      color: white;
      text-shadow: 2px 2px 3px black;
    }

    >* {
      width: 70%;
    }

    #recent-scores {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: rgba($color: black, $alpha: 0.5);
      border-radius: 10px;
      -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
      -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
      box-shadow: 0 0 3px 1px #3d3d3d inset;
      padding: 2rem;

      div {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        // gap: 2rem;
      }

      button {
        padding: 0.4rem 1.2rem;
        width: max-content;
        border-radius: 10px;
        -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
        -moz-box-shadow: 0 0 5px 2px #3d3d3d inset;
        box-shadow: 0 0 5px 2px #3d3d3d inset;
        border: none;
      }

      #scores-placeholder {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        div {
          gap: 2rem;

          div {
            width: 70%;
            display: flex;
            justify-content: flex-start;
            gap: 0;
            background-color: #dddedd;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
            -moz-box-shadow: 0 0 5px 2px #3d3d3d inset;
            box-shadow: 0 0 5px 2px #3d3d3d inset;

            img {
              padding: 0 1.2rem;
            }

            .position {
              text-align: center;
              width: 40px;
            }
          }

          .player {
            font-size: 1.6rem;
            line-height: 2.6rem;
          }

          .score {
            width: 9rem;
            text-align: right;
            padding: 0 1rem;
            font-size: 1.6rem;
            line-height: 2.6rem;
            background-color: #dddedd;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
            -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
            box-shadow: 0 0 3px 1px #3d3d3d inset;
          }
        }
      }


    }
  }
}

#add-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
  background-color: rgba($color: black, $alpha: 0.5);
  border-radius: 10px;
  -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
  -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
  box-shadow: 0 0 3px 1px #3d3d3d inset;
  padding: 2rem;

  >* {
    width: 100%;

  }

  input {
    font-size: 1.6rem;
    line-height: 2.6rem;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
    -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
    box-shadow: 0 0 3px 1px #3d3d3d inset;
    line-height: 2.6rem;
    border: none;
    text-indent: 1rem;
  }

  button {
    padding: 0.4rem 1.2rem;
    width: max-content;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
    -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
    box-shadow: 0 0 3px 1px #3d3d3d inset;
    border: none;
  }
}

#display-ID {
  display: flex;
  justify-content: center;
  margin-top: 3rem;

  p {
    width: 70%;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: white;
    text-shadow: 2px 2px 3px black;
    background-color: rgba($color: black, $alpha: 0.5);
    border-radius: 10px;
    -webkit-box-shadow: 0 0 50px 30px #3d3d3d inset;
    -moz-box-shadow: 0 0 3px 1px #3d3d3d inset;
    box-shadow: 0 0 3px 1px #3d3d3d inset;
    padding: 2rem;

    span {
      color: rgb(0, 255, 242);
    }
  }
}


@media screen and (min-width: 640px) {
  html {
    font-size: 62.5%;
  }

  body {
    background: url(../assets/background-landscape.png) center fixed;
  }

  main {
    h1 {
      margin: 5rem 0 3rem 10%;
      text-align: left;
    }

    #wrap {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 5%;

      #recent-scores {
        width: 50%;
      }

      #add-score {
        width: 25%;

        form {
          align-items: flex-end;
        }
      }
    }
  }

  #display-ID {
    p {
      width: 80%;
    }
  }
}