*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../assets/background-portrait.png);
}

main {
  h1 {
    margin: 5rem 0 3rem;
    font-size: 3.4rem;
    text-align: center;
  }

  #wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;

    h2 {
      font-size: 1.8rem;
      line-height: 2.6rem;
    }

    >* {
      width: 70%;
    }

    #recent-scores {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      div {
        display: flex;
        width: 100%;
        align-items: center;
        // gap: 2rem;
      }

      button {
        padding: 0.4rem 1.2rem;
        width: max-content;
      }

      #scores-placeholder {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;

        div {
          gap: 2rem;

          div {
            width: 70%;
            display: flex;
            justify-content: flex-start;
            gap: 0;
            background-color: #dddedd;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 50px 30px #ff7321 inset;
            -moz-box-shadow: 0 0 5px 2px #ff7321 inset;
            box-shadow: 0 0 5px 2px #3d3d3d inset;

            img {
              padding: 0 1.2rem;
            }

            .position {
              text-align: center;
              width: 40px;
            }


          }

          .player {
            font-size: 1.6rem;
            line-height: 2.6rem;
          }

          .score {
            width: 6rem;
            text-align: center;
            font-size: 1.6rem;
            line-height: 2.6rem;
            background-color: #dddedd;
            border-radius: 10px;
            -webkit-box-shadow: 0 0 50px 30px #ff7321 inset;
            -moz-box-shadow: 0 0 3px 1px #ff7321 inset;
            box-shadow: 0 0 3px 1px #ff7321 inset;
          }
        }
      }


    }
  }
}

#add-score {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    >* {
      width: 100%;
    }

    :nth-child(3) {
      padding: 0.4rem 1.2rem;
      width: max-content;
    }
  }
}



@media screen and (min-width: 640px) {
  body {
    background: url(../assets/background-landscape.png) center fixed;
  }

  main {
    h1 {
      margin: 5rem 0 3rem 10%;
      text-align: left;
    }

    #wrap {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 5%;

      #recent-scores {
        width: 50%;
      }

      #add-score {
        width: 25%;

        form {
          align-items: flex-end;
        }
      }
    }
  }
}